<web-app>

    <servlet>
        <servlet-name>show-all-products</servlet-name>
        <servlet-class>com.shalimov.onlineShop.web.servlet.GetAllProductServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>show-one-product</servlet-name>
        <servlet-class>com.shalimov.onlineShop.web.servlet.GetProductServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>edit-product</servlet-name>
        <servlet-class>com.shalimov.onlineShop.web.servlet.AddProductServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>add-product</servlet-name>
        <servlet-class>com.shalimov.onlineShop.web.servlet.InsertProduct</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>show-all-products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>show-one-product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>edit-product</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>add-product</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
</web-app>